In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdfasdfgafasdfasdfadfas'))
s

0     a
1     s
2     d
3     f
4     a
5     s
6     d
7     f
8     g
9     a
10    f
11    a
12    s
13    d
14    f
15    a
16    s
17    d
18    f
19    a
20    d
21    f
22    a
23    s
dtype: object

In [3]:
s.unique()

array(['a', 's', 'd', 'f', 'g'], dtype=object)

In [4]:
s.value_counts()

a    7
f    6
d    5
s    5
g    1
dtype: int64

In [5]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')

In [7]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [8]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64